.hero-area{
    align-items: center;
}
.hero-area h1{
    font-weight: 900;
    font-size: 65px;
}
.hero-area p{
    font-weight: 600;
    font-size: 25px;
}

@media(max-width:668px){
    .hero-title{
        font-size: 30px !important;
    }
    .hero-area p{
        font-size: 20px;
    }
}