.contact-area{
    padding: 50px 150px;
    background: #EDF7E7;
}
.contact-area h2{
    font-weight: bold;
}
.author{
    color:#49AD09;
    font-weight: bold;
}

@media(max-width:668px){
    .contact-area{
        padding: 50px 20px;
        background: #EDF7E7;
    }
}